/* src/components/NexthumanIframe.css */
.iframe-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nexthuman-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Logo overlay styles */
.custom-logo-overlay {
  position: absolute;
  top: 0;  /* Adjust based on the actual position of the original logo */
  left:0; /* Adjust based on the actual position of the original logo */
  z-index: 1000; /* Ensure it appears above the iframe */
  pointer-events: none; /* Allow clicks to pass through to the iframe */

}

.custom-logo {
  width: 130px;
  height: 45px;
  margin: 15px;
}

